@model LegalEazeRewrite.Models.DataModels.Matter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Matter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court.CourtID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MatterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
